<main class="index">
  <header class="masthead d-flex">
    <div class="container   portada ">

      <h1 class="mb-2 ">
        <br>
        <br>
        <em style="color: white; text-shadow: #000 0px 0px 10px;">CUERPO VOLUNTARIO DE BOMBEROS DE GUATEMALA</em>
      </h1>

    </div>
  </header>
</main>